<%- include('../partials/userheader.ejs') %>
<!-- <form action="/login" method="post">
<section class="vh-20 pt-5 gradient-custom">
    <div class="container px-5 py-5 h-80">
      <div class="row d-flex justify-content-center align-items-center h-50">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <p class="text-white-50 mb-5">Please enter your login and password!</p>
  
                <div class="form-outline form-white mb-4">
                  <input type="email" name="email"  id="email"  class="form-control form-control-lg" />
                  <label class="form-label"  for="typeEmailX">Email</label>
                </div>
  
                <div class="form-outline form-white mb-4">
                  <input type="password" name="password" id="password"  class="form-control form-control-lg" />
                  <label class="form-label" for="typePasswordX">Password</label>
                </div>
  
                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>
  
                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
  
              
  
              </div>
  
              <div>
                <p class="mb-0">Do you want to login with otp<a href="/otp-login" class="text-white-50 fw-bold">Otp Login</a>
                <p class="mb-0">Don't have an account? <a href="/signup" class="text-white-50 fw-bold">Sign Up</a>

                </p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form> -->
	
<div class="mt-5 pt-5">
  <div class="row  justify-content-center  mt-5 mb-5 ">
      <div class="col-md-6">
          <div class="card w-75 mx-5 me-box-shadow" style="border-radius: 20px;">
              <div class="card-header text-center"><h1 class="font-weight-bold">Login</h1></div>
              <div class="card-body p-4">
                 <form class="form-horizontal " method="post" action="/login">
                  <% if(locals.error){ %>
                      <h5 class="alert alert-danger">
                          <%= msg %>
                      </h5>
                      <% } %>
  
                      <div class="form-group">
                          <label for="email" class="cols-sm-2 control-label">Your Email</label>
                          <div class="cols-sm-10">
                              <div class="input-group">
                                  <span class="input-group-addon"><i class="fa fa-envelope fa"
                                          aria-hidden="true"></i></span>&nbsp;
                                  <input type="email" class="form-control" name="email" id="email"
                                      placeholder="Enter your Email" />
                              </div>
                          </div>
                      </div>
  
                      <div class="form-group">
                          <label for="password" class="cols-sm-2 control-label">Password</label>
                          <div class="cols-sm-10">
                              <div class="input-group">
                                  <span class="input-group-addon"><i class="fa fa-lock fa-lg"
                                          aria-hidden="true"></i></span>&nbsp;
                                  <input type="password" class="form-control" name="password" id="password"
                                      placeholder="Enter your Password" />
                              </div>
                          </div>
                      </div>
  
                      <div class="form-group ">
                          <button type="submit" class="btn  btn-lg btn-block login-button text-white font-weight-bold" style="background-color: #717fe0 !important">Login</button>
                      </div>
                  </form>
                  <form class="form-horizontal" method="post" action="/otp-login">
                  <h6>OTP Login</h6>
                  <% if(locals.otpError){ %>
                      <h5 class="alert alert-danger mt-3">
                          <%= msg %>
                      </h5>
                      <% } %>
                  <div class="form-group">
                      <div class="cols-sm-10">
                          <div class="input-group">
                              <span class="input-group-addon"><i class="fa fa-phone fa" aria-hidden="true"></i></span>&nbsp;
                              <input type="text" class="form-control" name="phone" id="phone" placeholder="Enter your phone number" />
                          </div>
                      </div>
                  </div>
                  <div class="form-group ">
                      <button type="submit" class="btn  btn-lg btn-block login-button my-2  text-white font-weight-bold" style="background-color: #717fe0 !important">Otp Login</button>
                  </div>
                  </form>
                  <div class="login-register d-flex">
                   <p>Do not have an account?</p>&nbsp;&nbsp;   <a href="/signup">signup</a>
                  </div>
              </div>
  
          </div>
      </div>
  </div>
</div>





